* {
	box-sizing: border-box;
    margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
	width: 100%;
}

html {
	display: flex;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
}