@use "../styles/background.scss" as bg;
@use "../styles/common.scss" as c;
@use "../styles/palette.scss" as p;

.main {
    min-height: 100%;
    width: 100%;
    @include bg.background();
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 200px;
    font-family: "Nunito", sans-serif;
    color: black;

    .punchline {
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .projects {
        display: flex;
        gap: 40px;
        margin-top: 40px;
        width: 100%;
        gap: 40px;
        .left, .right {
            /* flex: 1; */
            display: flex;
            flex-direction: column;
            gap: 8px;

            .det {
                font-weight: bold;
            }
        }

        .left {
            max-width: 34%;
            width: 34%;
        }

        // this is a grid which has two columns
        .right {
            flex: 1;
            .recommended {
                /* display: flex;
                flex-wrap: wrap; */
                width: 100%;
                gap: 40px;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                gap: 40px;
                display: grid;
                
        
                .project {
                    /* flex: 1;
                    max-width: 50%; */
                }
            }
        }
    }


    /* @include c.center(); */
}