@use "../styles/background.scss" as bg;
@use "../styles/common.scss" as c;
@use "../styles/palette.scss" as p;


.miniproject {
    cursor: pointer;
    img {
        border-left: 8px solid p.$orange;
        width: 100%;
        height: 200px;
    }
    .name {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
    }
    .expiry {
        font-size: 16px;
        color: gray;
    }
    .progress {
        font-size: 16px;
        color: p.$orange;
    }
    .description {
        margin-top: 10px;
        font-size: 18px;
    }
}