.main{

    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    flex-direction: column;

    h1{

    }

    button{
        width: 20vw;
        border: none;
        
    }
}