@use "../../styles/background.scss" as bg;
@use "../../styles/common.scss" as c;
@use "../../styles/palette.scss" as p;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: p.$orange;

    .rheo {
        color: white;
        font-size: 32px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    span {
        display: flex;
        gap: 20px;
    }

    .cta {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
}